<p class="form-title"> INFORMACIÓN DEL MOROSO: {{ nombre}} </p>
<li> Id: {{ id }}</li>
<li> Nombre del moroso: {{ nombre }}</li>
<li> Apellidos del moroso: {{ apellidos }}</li>
<li> Dinero del moroso: {{ dinero }}</li>
<li> Calle del moroso: {{ calle }}</li>
<li> Telefono del moroso: {{ telefono }}</li>
<li> Edad del moroso: {{ edad }}</li>
